@import 'mixins/mixins';
@import 'custom.scss';


//@import url(http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic);
//@import url(http://fonts.googleapis.com/css?family=Cabin:400,600,700);
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

html,
html a {
  -webkit-font-smoothing: antialiased;
}
html {
  -ms-overflow-style: scrollbar;
}
body {
  font-family: 'Fredoka One', cursive;
  color: #282828;
  overflow-x: hidden;
}