$top-header-mid-img-width: (
    null: 200px,
    991px: 145px
);

$igo-slider2-img-width: (
    null: 50%,
    500px: 100%
);

$igo-slider2-content-width: (
    null: 50%,
    500px: 100%
);
$igo-blog2-img-width: (
    null: 50%,
    480px: 100%
);
$igo-blog2-wrap-width: (
    null: 50%,
    480px: 100%
);
$pro-sm-lider-width: (
    null: calc(100% - 20px),
    480px: calc(100% - 2px)
);
$igo-blog3-title-wrap-width: (
    null: 40%,
    480px: 20%
);
$profile1-tab-content-width: (
    null: calc(100% - 270px),
    991px: 100%
);
$profile1-nav-pills-width: (
    null: 250px,
    991px: 100%
);
$igo-inner2-tab-width: (
    null: 300px,
    991px: 280px
);
$fancybox-inner-width: (
    null: null,
    991px: 100%
);
$igo-cart-item-img-width: (
    null: 20%,
    400px: 40%
);
$igo-cart-item-content-width: (
    null: 75%,
    400px: 60%
);
$igo-cart-item-content2-width: (
    null: 60%,
    400px: 100%
);
$igo-box6-wrapper-width: (
    null: 80%,
    1200px: 100%
);
$igo-pt-2-width: (
    null: null,
    400px: 70%
);
