$igo-content-wrapper-padding: (
    null: 0 100px 0 100px,
    1366px: 0 40px 0 40px,
    991px: 0 20px 0 20px,
    767px: 0 0px 0 0px
);
$igo-slider-box-1: (
    null: 28px 90px 0 90px,
    991px: 28px 60px 0 60px
);
$header2-igo-btn-2-padding: (
    null: 10px 50px,
    1100px: 10px 40px
);
$igo-post-1-wrapper-padding: (
    null: 40px 30px 40px 30px,
    767px: 30px 10px 30px 10px
);
$igo-box6-top-padding: (
    null: 30px 30px 30px 30px,
    1111px: 70px ​20px 20px 20px,
    991px: 70px 20px 30px 20px
);
$igo-box6-items-padding: (
    null: 50px 40px,
    991px: 40px 0px
);
$select-panel-section-padding: (
    null: 15px 8%,
    1199px: 15px 3%
);
$plane-padding: (
    null: 20px,
    991px: 20px 10px,
    767px: 20px,
    420px: 20px 10px
);
