$igo-header-area-position: (
    null: null,
    991px: fixed
);
$igo-lang-wrap-top: (
    null: 68px,
    991px: 80px
);

$igo-blog3-heading-left: (
    null: 66px,
    1199px: 50px,
    991px: 50px,
    480px: 30px
);

$igo-blog3-heading-right: (
    null: 76px,
    1199px: 50px,
    991px: 50px,
    480px: 30px
);
$igo-inner2-tab-before-left: (
    null: 220px,
    991px: 220px
);
$igo-inner2-tab-left: (
    null: 5px,
    991px: -10px
);
$igo-box1-details-bottom: (
    null: 70px,
    991px: 50px
);
