$top-header-two-fontsize: (
    null: 14px,
    991px: 12px
);

$igo-blog3-bottom-fontsize: (
    null: null,
    480px: 17px
);
$product-info-left-navlink-fontsize: (
    null: 15px,
    480px: 14px
);
$select-li-font-size: (
    null: 18px,
    650px: 15px,
    500px: 14px
);
$plane-del-txt-font-size: (
    null: 16px,
    991px: 14px,
    767px: 16px,
    420px: 14px
);
$plane-tlt-font-size: (
    null: 17px,
    991px: 15px,
    767px: 17px,
    420px: 15px
);
$plane-txt-font-size: (
    null: 19px,
    991px: 16px,
    767px: 19px,
    420px: 16px
);
$cr-price-font-size: (
    null: 50px,
    1500px: 40px,
    1300px: 40px,
    1100px: 40px,
    767px: 50px,
    420px: 55px
);
$cr-price-sup-font-size: (
    null: 20px,
    991px: 20px,
    767px: 23px,
    420px: 20px
);
